* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(93, 206, 206);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1 {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 30px;
}
#counter {
    font-size: 18px;
    text-align: center;
}
main {
    margin-top: 15px;
}
#playGame {
    text-align: center;
}
input[type = text] {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
input[type = submit] {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,
                rgba(44, 187, 99, .15) 0 1px 2px,
                rgba(44, 187, 99, .15) 0 2px 4px,
                rgba(44, 187, 99, .15) 0 4px 8px,
                rgba(44, 187, 99, .15) 0 8px 16px,
                rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    padding: 7px 25px;
    text-align: center;
    border: 0;
    font-size: 16px;
}
input[type = submit]:hover {
box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,
            rgba(44,187,99,.25) 0 1px 2px,
            rgba(44,187,99,.25) 0 2px 4px,
            rgba(44,187,99,.25) 0 4px 8px,
            rgba(44,187,99,.25) 0 8px 16px,
            rgba(44,187,99,.25) 0 16px 32px;
}
.radioBox {
    padding: 10px;
    margin-bottom: 10px;
}
.radioBox input[type = radio],
.radioBox label {
    margin: 5px;
    font-size: 16px;
}
input[type = text]:focus {
    outline: none;
    border: 2px solid green;
}
::placeholder {
    font-size: 12px;
} 
img {
    width: 55px;
}
#results {
    text-align: center;
    margin-top: 10px;
}
#results h2 {
    margin-bottom: 20px;
    font-size: 18px;
}
#results button {
    background-color: #c2fbd7;
    border-radius: 100px;
    border: 0;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 14px;
    color: green;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto 0;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table th {
    padding: 10px 20px;
    background-color: #c2fbd7;;
    color: green;
}
table td {
    text-align: center;
    text-align: 16px;
}

@media only screen and (max-width: 500px) {
    #results {
        text-align: center;
    }
    #results button {
        width: 40%;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 50px;
    }
    #counter {
        font-size: 30px;
    }
    main {
        display: flex;
        justify-content: space-between;
    }
    #playGame {
        text-align: left;
        width: 50%;
        margin: 0 auto;
    }
    input[type = text] {
        width: 30%;
        padding: 10px 20px;
        border-radius: 10px;
    }
    ::placeholder {
        color: rgb(175, 175, 175);
        font-size: 16px;
    } 
    input[type = submit] {
        padding: 10px 40px;
        font-size: 18px;
    }
    .radioBox {
        padding: 20px;
    }
    .radioBox input[type = radio],
    .radioBox label {
        margin: 5px;
        font-size: 18px;
    }
    img {
        width: 75px;
    }
    #results {
        margin: 0 auto;
    }
    #results h2 {
        font-size: 30px;
        text-align: left;
    }
    #results button {
        padding: 10px 40px;
        cursor: pointer;
        font-size: 18px;
        color: green;
    }
    table {
        border-collapse: collapse;
        margin-top: 20px;
        width: 100%;
    }
}